<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8" />
    <title>用户列表</title>
    <link href="/css/main.css" rel="stylesheet" />
</head>
<body>
<h1 th:text="${hello}">Hello, Spring Boot!</h1>
<table>
    <tr>
        <th>ID</th>
        <th>姓名</th>
        <th>生日</th>
        <th>薪资</th>
    </tr>
    <tr th:each="user : ${userList}">
        <td th:text="${user.id}">0</td>
        <td th:text="${user.name}">zhansan</td>
        <td th:text="${user.birthday}">1988-06-01</td>
        <td th:text="${user.salary}">12345</td>
    </tr>
</table>

<select>
    <option th:each="user:${userList}" th:value="${user.id}" th:text="${user.name}">我是默认值</option>
</select>

</body>
</html>